@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  background: #070A0F;
  color: white;
  font-family: var(--font-geist-sans), system-ui, -apple-system, Segoe UI, Roboto,
    Arial, sans-serif;
}
